@{
    ViewData["Title"] = "Inmobiliaria";
}

<div class="text-center">
    @if(TempData.ContainsKey("exito"))
{
    <div class="alert alert-success">
        @TempData["exito"]
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
}
    <h1 class="display-4">Bienvenidos Inmobiliaria</h1>
   
    <!--p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p-->
</div>
